extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet')
  //- script(src='/js/mapbox.js')

block content

    .row
        .col
        
            .app-page-title.mb-0.py-2
                .page-title-wrapper
                    .page-title-heading
                        h1= `Branch: ${title}`

    .row
        .col-lg-6

          .main-card.mb-3.mt-3.card
            .card-body

              form(method='GET')
                .position-relative.form-group
                  label(for='name') Name
                  input#name.form-control(name='name' placeholder='Name' type='text' value=`${branch.name}`)
                .position-relative.form-group
                  label(for='restaurant') Restaurant
                  select#restaurant.mb-2.form-control
                    option Mc'Donalds
                    option KFC
                    option Pizza Hut
                .position-relative.form-group(style='height: 310px;')
                  label(for='location') Location
                  //- input#coords(type='hidden' value=`${branch.location.coordinates}`)
                  #map(data-location=`${branch.location.coordinates}` data-branch=`${branch.name}`)

                .d-flex.justify-content-end.pt-3
                    button.mt-1.mr-2.btn.btn-success Submit
                    button.mt-1.btn.btn-danger Cancel

