extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet')

block content

    .row
        .col
        
            .app-page-title.mb-0.py-2
                .page-title-wrapper
                    .page-title-heading
                        h1= `Branch: ${title}`

    .row
        .col-lg-6

          .main-card.mb-3.mt-3.card
            .card-body

              form(method='POST' action='/branches')
                input#id(type='hidden' name='id' value=`${branch.id}`)
                .position-relative.form-group
                  label(for='name') Name
                  input#name.form-control(name='name' placeholder='Name' type='text' value=`${branch.name}`)
                .position-relative.form-group
                  label(for='restaurant') Restaurant
                  select#restaurant.mb-2.form-control(name='restaurant')
                    each restaurant in restaurantList
                      if(branch.restaurant.id === restaurant.id)
                        option(value=`${restaurant._id}` selected)= restaurant.name
                      else
                        option(value=`${restaurant._id}`)= restaurant.name
                .position-relative.form-group
                  label(for='area') Area
                  select#area.mb-2.form-control(name='area')
                    each area in areaList
                      if(branch.area.id === area.id)
                        option(value=`${area.id}` selected)= area.name
                      else
                        option(value=`${area.id}`)= area.name
                .position-relative.form-group(style='height: 310px;')
                  label(for='location') Location
                  input#coordinates(type='hidden' name='coordinates' value=`${branch.location.coordinates}`)
                  #map(data-location=`${branch.location.coordinates}` data-branch=`${branch.name}`)

                .d-flex.justify-content-end.pt-3
                    button.mt-1.mr-2.btn.btn-success Submit
                    button.mt-1.btn.btn-danger Cancel


//- block append scripts
//-   script(type='text/javascript' src='/js/mapbox.js')