extends base

block content

  .row
    .col
      .app-page-title.mb-0.py-2
        .page-title-wrapper
          .page-title-heading
            h1= `Country: ${title}`

  .row
    .col-lg-6
    
      .main-card.mb-3.mt-3.card
        .card-body
          
           form(method='POST' action='/countries' enctype="multipart/form-data")
            input#id(type='hidden' name='id' value=`${country.id}`)
            .position-relative.form-group
              label(for='name') Name
              input#name.form-control(name='name' placeholder='Name' type='text' value=`${country.name}`)
            .position-relative.form-group
              label(for='alias') Alias
              input#alias.form-control(name='alias' placeholder='Alias' type='text' value=`${country.alias}`)
            .position-relative.form-group
              label(for='currency') Currency
              select#currency.form-control(name='currency')
                - var list = ["USD", "EGP", "AED", "SAR", "QAR", "KWD"]
                  each item in list
                    if(item === country.currency)
                      option(selected)= item
                    else
                       option= item
            .position-relative.form-group
              label(for='image') Choose new image
              image.img-thumbnail(src=`/img/uploads/${country.image}` alt=`${country.name}`)
              .col-sm-10
                input#image.form-control-file(name='image' type='file' accept='image/*')
                small.form-text.text-muted
                  | Image types supported (.jpg, .png, ...)

            .d-flex.justify-content-end.pt-3
              button.mt-1.mr-2.btn.btn-success Submit
              a.mt-1.btn.btn-danger(href='/countries') Cancel


