extends base

block content
    .row
        .col
            .app-page-title.mb-0.py-2
                .page-title-wrapper.d-lg-flex.justify-content-between
                    .page-title-heading
                        h1= `${title}`

    .row
        .col-lg-6
            .main-card.mb-3.mt-3.card
                .card-body
                    form#menuItemForm(method='POST' action="/menuItemsOptions")
                        input#id(type='hidden' name='id' value=`${menuItemOption.id}`)
                        input#menuItemId(type='hidden' name='menuItemId' value=`${menuItemId}`)

                        .position-relative.form-group
                            label(for='name') Name
                            input#name.form-control(name='name' placeholder='Name' type='text' value=`${menuItemOption.name}`)
                        .position-relative.form-group.mb-1
                            .d-flex
                                label(for='type') Type:
                                fieldset.position-relative.form-check
                                    label.form-check-label
                                        input.form-check-input(name='type' type='radio' value='Required' checked=menuItemOption.type=="Required")
                                        | Required
                                    label.form-check-label.ml-5
                                        input.form-check-input(name='type' type='radio' value='Optional' checked=menuItemOption.type=="Optional")
                                        | Optional
                        .position-relative.form-group.mb-1
                            label(for='optionItems') Option Items:
                            div#optionItemsInputs.d-flex.justify-content-between.align-items-center
                                .form-group.mb-2
                                    label Name: 
                                    input#optionItemName.form-control(type='text')
                                .form-group.mb-2
                                    label Value: 
                                    input#optionItemValue.form-control(type='number' value='0')
                                a#addNewOptionItem.btn.btn-success.btn-sm.mt-3.text-white.px-3 Add
                                div
                            ul#optionItems.list-group.w-75

                        .d-flex.justify-content-end.pt-3
                            button.mt-1.mr-2.btn.btn-success Submit
                            a.mt-1.btn.btn-danger(href="#") Cancel
                

block scripts
    script.
        
        document.querySelector("#addNewOptionItem").addEventListener("click", e => {
            const optionItemsEl = document.querySelector("#optionItems");
            const optionItemsInputs = e.target.closest("#optionItemsInputs");
            const optionItemName = optionItemsInputs.querySelector("#optionItemName");
            const optionItemValue = optionItemsInputs.querySelector("#optionItemValue");
            console.log(`${optionItemName.value} = ${optionItemValue.value}`);

            const markup = `
                <div class="d-flex justify-content-between">
                    <div class="d-flex w-75 pt-2">
                        <div>
                            <label class="font-weight-bold">name:</label>
                            <span>${optionItemName.value}</span>
                        </div>
                        <div class="ml-3">
                            <label class="font-weight-bold">value:</label>
                            <span>${optionItemValue.value}</span>
                        </div>
                    </div>

                    <div>
                        <!--<button class="btn btn-primary">Edit</button>-->
                        <a class="btn btn-danger text-white">Delete</a>
                    </div>
                </div>
            `;

            const li = document.createElement("li");
            li.classList.add("list-group-item");
            li.innerHTML = markup;

            optionItemsEl.appendChild(li);
            optionItemName.value = "";
            optionItemValue.value = "";
            optionItemName.focus();

            });

                
