extends base

mixin optionBox(option)
    .option-box
        .card
            .card-header(id=`heading-${option.id}`)
                button.btn.btn-link.btn-block.text-left.p-0(type='button' data-toggle='collapse' data-target=`#collapse-${option.id}` aria-expanded='true' aria-controls=`collapse-${option.id}`)
                    h6.m-0.p-0= option.name

            .collapse(id=`collapse-${option.id}` data-parent='#accordion' aria-labelledby=`heading-${option.id}`)
                .card-body
                    .row
                        .col-md-6
                            input.optionId(type='hidden' name='optionId' value=`${option.id}`)

                            .position-relative.form-group.mb-2
                                .d-flex.align-items-center
                                    label.font-weight-bold.mr-2(for='optionName') Name:
                                    span.optionName.form-control= option.name
                            .position-relative.form-group.mb-1
                                .d-flex
                                    label.font-weight-bold(for=`${option.name}-type`) Type:
                                    fieldset.position-relative.form-check
                                        label.form-check-label.mr-5
                                            input.form-check-input(name=`${option.name}-type`, type='radio' checked=option.type=="Required")
                                            | Required
                                        label.form-check-label
                                            input.form-check-input(name=`${option.name}-type`, type='radio' checked=option.type=="Optional")
                                            | Optional
                            .position-relative.form-group.mb-1
                                label.font-weight-bold(for='optionItems') Option Items:
                                ul
                                    each optionItem in option.optionItems
                                        li
                                            div(dataset=`${optionItem.id}`) 
                                                span.mr-2: i= optionItem.name
                                                span= `(value: ${optionItem.value})`



block content
    .row
        .col
            .app-page-title.mb-0.py-2
                .page-title-wrapper.d-lg-flex.justify-content-between
                    .page-title-heading
                        h1= `${title}`

    .row
        .col-lg-6
            .main-card.mb-3.mt-3.card
                .card-body
                    form#menuItemForm(method='POST' action="/menuItems" enctype="multipart/form-data")
                        input#id(type='hidden' name='id' value=`${menuItem.id}`)
                        input#menusectionId(type='hidden' name='menusectionId' value=`${menuSectionId}`)

                        .position-relative.form-group
                            label(for='name') Name
                            input#name.form-control(name='name' placeholder='Name' type='text' value=`${menuItem.name}`)
                        .position-relative.form-group
                            label(for='price') Price
                            input#price.form-control(name='price' placeholder='Price' type='number' value=`${menuItem.price}`)
                        .position-relative.form-group
                            label(for='description') Description
                            input#description.form-control(name='description' placeholder='Description' type='text' value=`${menuItem.description}`)

                        .position-relative.form-group
                            .d-flex.justify-content-between.mb-2
                                label(for='options') Options
                                //- a.addNewOptionItemBtn.btn.btn-primary.text-white.float-right(data-toggle='modal' data-target='#exampleModal') New Option Item
                                a.addNewOptionItemBtn.btn.btn-primary.text-white.float-right(href=`/menuItems/${menuItem.id}/menuItemOptions/new`) New Item Option
                            each option in menuItem.options
                                #accordion.accordion-wrapper.mb-1
                                    +optionBox(option)


                        .position-relative.form-group
                            .d-flex.justify.align-items-center
                                label(for='image') Choose new image
                                image.img-thumbnail.w-50.ml-3(src=`/img/uploads/${menuItem.image}` alt=`${menuItem.name}`)
                            .col-sm-10
                                input#image.form-control-file(name='image' type='file' accept='image/*')
                                small.form-text.text-muted
                                    | Image types supported (.jpg, .png, ...)


                        .d-flex.justify-content-end.pt-3
                            button.mt-1.mr-2.btn.btn-success Submit
                            a.mt-1.btn.btn-danger(href="#") Cancel



block append modals
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', style='display: none;', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Edit Menu Section
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
                input.optionId(type='hidden' name='optionId' value=`${menuItem.id}`)

                .position-relative.form-group.mb-2
                    .d-flex.align-items-center
                        label.font-weight-bold.mr-2(for='optionName') Name:
                        input.optionName.form-control(type='text')
                .position-relative.form-group.mb-1
                    .d-flex
                        label.font-weight-bold(for='type') Type:
                        fieldset.position-relative.form-check
                            label.form-check-label.mr-5
                                input.form-check-input(name='type', type='radio')
                                | Required
                            label.form-check-label
                                input.form-check-input(name='type', type='radio')
                                | Optional
                .position-relative.form-group.mb-1
                    label.font-weight-bold(for='optionItems') Option Items:
                    div#optionItemsInputs.d-flex.justify-content-between.align-items-center
                        .form-group.mb-2
                            label Name: 
                            input#optionItemName.form-control(type='text')
                        .form-group.mb-2
                            label Value: 
                            input#optionItemValue.form-control(type='number')
                        a#addNewOptionItem.btn.btn-success.btn-sm.mt-3 Add
                        div
                    ul#optionItems
                                

                    .modal-footer
                      button.btn.btn-secondary(data-dismiss='modal') Close
                      input.btn.btn-primary(type='submit' value='Save changes') 
