extends base

block content

    .row
        .col
        
            .app-page-title.mb-0.py-2.d-lg-flex.align-items-center
                .page-title-wrapper
                    .page-title-heading
                        h1= `Restaurant: ${title}`
                .d-flex.ml-5
                  a.btn.btn-info.mx-1(target="_blank" href=`/restaurants/${restaurant.id}/menu`) Show Menu
                  a.btn.btn-warning.mx-1(target="_blank" href=`/branches?restaurantId=${restaurant.id}`) Show Branches

    .row
        .col-lg-6

          .main-card.mb-3.mt-3.card
            .card-body

              form(method='POST' action='/restaurants' enctype='multipart/form-data')
                input#id(type='hidden' name='id' value=`${restaurant.id}`)

                .position-relative.form-group
                  label(for='name') Name
                  input#name.form-control(name='name' placeholder='Name' type='text' value=`${restaurant.name}` required)
                
                .position-relative.form-group
                  label(for='slogan') Slogan
                  input#slogan.form-control(name='slogan' placeholder='Slogan' type='text' value=`${restaurant.slogan}` required)

                .position-relative.form-group
                  label(for='deliveryTime') Deleivery Time
                  input#deliveryTime.form-control(name='deliveryTime' placeholder='Deleivery Time' type='number' value=`${restaurant.deliveryTime}` required)
                
                .position-relative.form-group
                  label(for='deliveryFee') Deleivery Fee
                  input#deliveryFee.form-control(name='deliveryFee' placeholder='Deleivery Fee' type='number' value=`${restaurant.deliveryFee}` required)

                .position-relative.form-check
                    label.form-check-label(for='specialOffers')
                        input#specialOffers.form-check-input(name='specialOffers' type='checkbox' checked=restaurant.specialOffers ? true : false)
                        | Special Offers
                
                .position-relative.form-group.mt-3
                  label(for='country') Category
                  select#category.mb-2.form-control(name='category')
                    each category in categoryList
                      option(value=`${category._id}`)= category.name

                .position-relative.form-group.mt-3
                  label(for='image') Choose new image
                  image.img-thumbnail(src=`${restaurant.image}` alt=`${restaurant.name}`)
                  .col-sm-10
                    input#image.form-control-file(name='image' type='file' accept='image/*')
                    small.form-text.text-muted
                      | Image types supported (.jpg, .png, ...)

                .position-relative.form-group
                  label(for='logo') Choose new logo
                  image.img-thumbnail(src=`${restaurant.logo}` alt=`${restaurant.name}`)
                  .col-sm-10
                    input#logo.form-control-file(name='logo' type='file' accept='image/*')
                    small.form-text.text-muted
                      | Image types supported (.jpg, .png, ...)


                .d-flex.justify-content-end.pt-3
                    button.mt-1.mr-2.btn.btn-success Submit
                    a.mt-1.btn.btn-danger(href="/restaurants") Cancel