extends base

mixin menuSectionBox(section)
    .card.mt-2
        .card-header.d-flex.justify-content-between(id=`heading-${section.name}`)
            button.text-left.m-0.p-0.btn.btn-link.btn-block.d-flex.justify-content-between(type='button' data-toggle='collapse' data-target=`#collapse-${section.name}` aria-expanded='true' aria-controls=`collapse-${section.name}`)
                h5.m-0.p-0= section.name
                a.btn.btn-success.text-nowrap.d-inline-block(href=`/menusections/${section.id}/items/new`) New Item
        
        .collapse(id=`collapse-${section.name}` data-parent='#accordion' aria-labelledby=`heading-${section.name}`)
          .card-body
            .row
                each item in section.menuItems
                    .col-md-4
                        .main-card.mb-3.card
                            img.card-img-top(width='100%' src=`/img/uploads/${item.image}` alt=`${item.name}`)
                            .card-body
                              h5.card-title= item.name
                              h6.card-subtitle Price: #{item.price}
                              p= item.description
                              .d-flex
                                button.btn.btn-primary Edit
                                //-(data-toggle='modal' data-target='.bd-example-modal-lg') Edit
                                button.btn.btn-danger.mx-1 Delete
 

block content

    .row
        .col
            .app-page-title.mb-0.py-2
                .page-title-wrapper.d-lg-flex.justify-content-between
                    .page-title-heading
                        h1= `${title}`
                    button.mb-2.ml-2.btn.btn-success.btn-lg(data-toggle='modal' data-target='#exampleModal') New Menu Section

    each menuSection in menu.menuSections
        .row
            .col
                #accordion.accordion-wrapper.mb-3
                  +menuSectionBox(menuSection)

    
    // storing current view state (menuId, activeSectionId, activeItemId)
    input#menuId(type='hidden' value=`${menu.id}`)
    input#activeSectionId(type='hidden')
    input#activeItemId(type='hidden')


block append modals

    // MENU SECTION MODAL
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', style='display: none;', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Edit Menu Section
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              p.mb-0
                form(method='POST' action='/menuSections')
                    input#menuId(type='hidden' name='menuId' value=`${menu.id}`)
                    .position-relative.form-group
                        label(for='name') Name
                        input#name.form-control(name='name' placeholder='Name' type='text' required)

                    .modal-footer
                      button.btn.btn-secondary(data-dismiss='modal') Close
                      input.btn.btn-primary(type='submit' value='Save changes') 
